<form id="search-form" data-ng-controller="SearchController" role="search" data-ng-submit="search()">
  <div class="form-group" data-ng-class="{'has-error': badQuery}">
    <input id="search" type="text" class="form-control" data-ng-model="q" data-ng-class="{'loading': loading}" placeholder="{{'Search for block, transaction or address'|translate}}" data-ng-submit="search()" focus="true">
    <img data-ng-src="img/loading.gif" alt="" data-ng-show="loading" style="height:14px;margin-left:6px">
    </div>
  <span data-ng-show="q" style="font-size:11px;opacity:.6">&rarr; {{q}}</span>
  <div class="no_matching text-danger" data-ng-show="badQuery" translate>No matching records found!</div>
</form>
